@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Assistant:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Anton", sans-serif;
}

p,
button {
  font-family: "Assistant", sans-serif;
}

body {
  position: relative;
  font-family: "Assistant", sans-serif;
  font-size: 14px;
  color: #1B605F;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: -moz-min-content;
  height: min-content;
}

.swiper-wrapper {
  background: #E6ECE3;
  transition: ease 1s all;
}
.swiper-wrapper.night-mode {
  transition: ease 1s all;
  background: black;
  color: #E6ECE3;
}
.swiper-wrapper.night-mode .nav-container {
  border-bottom: 1px solid #E6ECE3;
}
.swiper-wrapper.night-mode #hero-and-searchbox {
  background-color: #6f9392;
}
.swiper-wrapper.night-mode #recommend-section #search-and-flter-btn #search-box {
  border: 1px solid #E6ECE3;
  color: #E6ECE3;
  transition: ease 0.7s all;
}
.swiper-wrapper.night-mode #recommend-section #search-and-flter-btn #search-box i {
  color: #E6ECE3;
  transition: ease 0.7s all;
}
.swiper-wrapper.night-mode #recommend-section #search-and-flter-btn #search-box:hover {
  background-color: #E6ECE3;
}
.swiper-wrapper.night-mode #recommend-section #search-and-flter-btn #search-box:hover i {
  color: #1B605F;
}
.swiper-wrapper.night-mode #recommend-section #filter-call-btn {
  border: 1px solid #E6ECE3;
  font-size: 17px;
}
.swiper-wrapper.night-mode .display-contents {
  border: 2px solid #E6ECE3;
}
.swiper-wrapper.night-mode .display-contents .contents-box .bed {
  border-right: 1px solid #E6ECE3;
  border-left: 1px solid #E6ECE3;
}
.swiper-wrapper.night-mode .display-contents .article-price-and-viewbtn .view-rooms {
  background-color: #E1754F;
  border-radius: 30px;
  border: 1px solid #E6ECE3;
  box-shadow: none;
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 3px 8px;
}
.swiper-wrapper.night-mode #newsletter-box {
  background-color: rgb(57, 124, 122);
}
.swiper-wrapper.night-mode #chosen-value {
  background-color: #E6ECE3;
}
.swiper-wrapper.night-mode #chosen-value .section-and-value-wrapper .section {
  color: #1B605F;
}
.swiper-wrapper.night-mode #chosen-value .section-and-value-wrapper .value {
  color: rgb(39, 39, 39);
  padding: 10px 0px;
}
.swiper-wrapper.night-mode #information-wrapper .title-location-feature span {
  background: #E6ECE3;
  color: #1B605F;
}
.swiper-wrapper.night-mode #cost-calculate-box {
  border-top: 1px solid #E6ECE3;
}
.swiper-wrapper.night-mode #cost-calculate-box #description-and-transport-cost #place-description #modal-readmore {
  color: #1B605F;
}
.swiper-wrapper.night-mode #cost-calculate-box #meal-option-and-display-cost #meal-option-wrapper #meal-option-btn {
  border: 1px solid #E6ECE3;
}
.swiper-wrapper.night-mode #cost-calculate-box #meal-option-and-display-cost #cost-display-box {
  border: 1px solid #E6ECE3;
}
.swiper-wrapper.night-mode #cost-calculate-box #meal-option-and-display-cost #cost-display-box .night-and-cost {
  border-bottom: 1px solid #E6ECE3;
}
.swiper-wrapper.night-mode #cost-calculate-box #meal-option-and-display-cost #cost-display-box .extra {
  border-bottom: 1px solid #E6ECE3;
}
.swiper-wrapper.night-mode #cost-calculate-box #meal-option-and-display-cost #reserve-btn {
  box-shadow: none;
}
.swiper-wrapper.night-mode #result-box {
  border: 1px solid #E6ECE3;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #1B605F;
  padding-bottom: 20px;
  margin: 25px 30px;
  transition: ease 1s all;
}
.nav-container h3 {
  font-size: 23px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.nav-container i {
  font-size: 23px;
}
.nav-container .list-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.nav-container .bi-moon-fill {
  position: absolute;
  top: 0;
  right: 0;
}
.nav-container .bi-person-circle {
  display: none;
}

.day-to-night-mode-btn {
  display: inline-block;
  cursor: pointer;
  transition: ease 1s all;
}
.day-to-night-mode-btn.active {
  display: none;
}

.night-to-day-mode-btn {
  display: none;
  cursor: pointer;
  transition: ease 1s all;
}
.night-to-day-mode-btn.active {
  display: inline-block;
  color: #EECD56;
}

#hero-and-searchbox {
  background-color: rgba(27, 96, 95, 0.4941176471);
  margin: 25px 30px;
  border-radius: 20px;
  box-shadow: 20px 30px 34px rgba(0, 0, 0, 0.25);
  padding: 30px 20px 60px;
  text-align: center;
  letter-spacing: 1px;
}
#hero-and-searchbox #heading {
  color: white;
  font-size: 33px;
  font-weight: lighter;
}
#hero-and-searchbox #heading .yellow {
  color: #EECD56;
}
#hero-and-searchbox #heading .coral {
  color: #FDB18B;
}
#hero-and-searchbox p {
  display: none;
  color: white;
  font-size: 35px;
}
#hero-and-searchbox #search-input-list {
  display: grid;
  margin: 20px 0px 30px;
  justify-content: center;
  align-items: center;
}
#hero-and-searchbox #search-input-list .search-condition {
  background-color: white;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid #1B605F;
  width: 230px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#hero-and-searchbox #search-input-list .search-condition input {
  border: none;
  font-size: 14px;
  width: 70px;
  color: #1B605F;
}
#hero-and-searchbox #search-input-list .search-condition input::-moz-placeholder {
  color: #1B605F;
  font-family: "Assistant", sans-serif;
  text-align: center;
}
#hero-and-searchbox #search-input-list .search-condition input::placeholder {
  color: #1B605F;
  font-family: "Assistant", sans-serif;
  text-align: center;
}
#hero-and-searchbox #search-input-list i {
  margin-right: 5px;
}
#hero-and-searchbox #search-input-list .location-wrapper {
  position: relative;
}
#hero-and-searchbox #search-input-list #custom-datepicker {
  display: grid;
}
#hero-and-searchbox #search-input-list #location-lists {
  position: absolute;
  visibility: hidden;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #1B605F;
  left: 10px;
  top: 50px;
  font-size: 20px;
  width: 230px;
  z-index: 999999;
}
#hero-and-searchbox #search-input-list #location-lists.active {
  visibility: visible;
}
#hero-and-searchbox #search-input-list #location-lists .north,
#hero-and-searchbox #search-input-list #location-lists .south {
  padding: 7px 0px;
  background: #E6ECE3;
  color: #1B605F;
}
#hero-and-searchbox #search-input-list #location-lists .location-option {
  padding: 7px 0px;
  background-color: #1B605F;
  color: white;
  cursor: pointer;
}
#hero-and-searchbox #search-input-list #location-lists .location-option:hover {
  background-color: #EECD56;
  color: #1B605F;
}
#hero-and-searchbox #search-btn {
  background-color: #E1754F;
  width: 230px;
  height: 45px;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  border-radius: 30px;
  box-shadow: 8px 8px 10px rgba(27, 96, 95, 0.58);
  touch-action: manipulation;
  cursor: pointer;
  transition: ease 235ms all;
}
#hero-and-searchbox #search-btn i {
  margin-right: 10px;
}
#hero-and-searchbox #search-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}
#hero-and-searchbox #search-btn:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
#hero-and-searchbox .guest-wrapper {
  position: relative;
}
#hero-and-searchbox .guest-wrapper #number-lists {
  position: absolute;
  visibility: hidden;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #1B605F;
  left: 10px;
  top: 50px;
  font-size: 20px;
  width: 230px;
}
#hero-and-searchbox .guest-wrapper #number-lists.active {
  visibility: visible;
}
#hero-and-searchbox .guest-wrapper #number-lists .guest-number {
  padding: 7px 0px;
  background-color: #1B605F;
  color: white;
  cursor: pointer;
}
#hero-and-searchbox .guest-wrapper #number-lists .guest-number:hover {
  background-color: #EECD56;
  color: #1B605F;
}
#hero-and-searchbox #custom-datepicker {
  display: flex;
}

.flatpickr-calendar {
  font-family: "Assistant", sans-serif;
  background: #E6ECE3;
  border: 2px solid #1B605F;
}
.flatpickr-calendar .flatpickr-current-month,
.flatpickr-calendar .flatpickr-current-year {
  color: #1B605F;
}
.flatpickr-calendar .flatpickr-day {
  font-size: 15px;
}
.flatpickr-calendar .flatpickr-day:hover {
  background-color: #1B605F;
  color: white;
}
.flatpickr-calendar .flatpickr-day.selected {
  background-color: #EECD56;
  color: #1B605F;
  font-weight: 900;
  border: 2px solid #1B605F;
}

#recommend-section {
  margin: 70px 40px 0px;
}
#recommend-section #search-and-flter-btn {
  display: flex;
  font-size: 16px;
  margin-top: 15px;
}
#recommend-section #search-and-flter-btn #search-box {
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid rgba(27, 96, 95, 0.6274509804);
  border-radius: 30px;
  background: none;
  color: rgba(27, 96, 95, 0.5803921569);
  text-align: left;
  margin-right: 7px;
  height: 38px;
  width: 90px;
  cursor: pointer;
  transition: ease 0.7s all;
}
#recommend-section #search-and-flter-btn #search-box i {
  font-size: 17px;
  color: #1B605F;
  transition: ease 0.7s all;
}
#recommend-section #search-and-flter-btn #search-box:hover {
  background-color: #1B605F;
}
#recommend-section #search-and-flter-btn #search-box:hover i {
  position: absolute;
  color: white;
  font-weight: 900;
  margin-left: 50px;
}
#recommend-section #search-and-flter-btn #search-box:hover p {
  display: none;
}
#recommend-section h2 {
  font-size: 22px;
}
#recommend-section .filter-wrapper {
  position: relative;
}
#recommend-section #filter-call-btn {
  padding: 8px 15px;
  border: 1px solid #1B605F;
  border-radius: 30px;
  height: 38px;
  background-color: #1B605F;
  color: white;
  font-size: 17px;
  cursor: pointer;
  transition: ease 0.5s all;
}
#recommend-section #filter-call-btn:hover {
  background-color: #EECD56;
  color: #1B605F;
}
#recommend-section #filter-list {
  position: absolute;
  visibility: hidden;
  right: -40px;
  top: 38px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #1B605F;
  width: 133px;
  z-index: 999;
}
#recommend-section #filter-list.active {
  visibility: visible;
}
#recommend-section #filter-list .filter-explanation {
  border: none;
  padding: 10px 15px;
}
#recommend-section #filter-list .filter-option {
  border-top: 1px solid #1B605F;
  padding: 10px 15px;
  background-color: #1B605F;
  color: white;
  text-align: end;
  cursor: pointer;
}
#recommend-section #filter-list .filter-option:hover {
  background-color: #EECD56;
  color: #1B605F;
}

#search-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.66);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 9999;
  color: white;
}
#search-modal.active {
  display: block;
}
#search-modal #close-search-modal-btn {
  position: absolute;
  font-size: 23px;
  top: 7px;
  right: 10px;
  cursor: pointer;
}
#search-modal h1 {
  position: absolute;
  top: 200px;
  left: 40px;
  font-size: 45px;
  font-family: "Assistant", sans-serif;
}
#search-modal .modal-contents-wrapper {
  position: absolute;
  top: 300px;
  left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82vw;
}
#search-modal .modal-contents-wrapper #search-input {
  display: flex;
  width: 500px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.938);
  border: none;
  border-radius: 20px;
  margin-right: 20px;
  cursor: text;
}
#search-modal .modal-contents-wrapper #string-search-btn {
  font-size: 33px;
  border: none;
  background: none;
  cursor: pointer;
}
#search-modal .modal-contents-wrapper #alert-no-string {
  position: absolute;
  color: #fb3232;
  left: 66px;
  font-size: 20px;
}

#status-update {
  font-size: 16px;
  height: 45px;
  padding-bottom: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0px 40px;
}

.chevron-box {
  position: absolute;
}

.contents-box-wrapper {
  position: relative;
}
.contents-box-wrapper #left-btn {
  font-size: 50px;
  bottom: 170px;
  left: 5px;
  cursor: pointer;
}
.contents-box-wrapper #right-btn {
  font-size: 50px;
  bottom: 170px;
  right: 5px;
  cursor: pointer;
}

#recommend-contents-box {
  margin-bottom: 50px;
}

.display-contents {
  border: 2px solid #1B605F;
  border-radius: 20px;
  text-align: center;
  padding: 17px 15px 20px;
  width: 284px;
  margin: auto;
}
.display-contents img {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.display-contents h5 {
  font-size: 20px;
  text-align: left;
  height: 50px;
}
.display-contents .contents-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 10px 0px;
}
.display-contents .contents-box .bed {
  border-right: 1px solid #1B605F;
  border-left: 1px solid #1B605F;
}
.display-contents .contents-box p {
  font-size: 20px;
}
.display-contents .article-price-and-viewbtn {
  display: flex;
  justify-content: space-around;
}
.display-contents .article-price-and-viewbtn .price-and-tax {
  text-align: left;
}
.display-contents .article-price-and-viewbtn .price-and-tax .price {
  font-size: 20px;
}
.display-contents .article-price-and-viewbtn .price-and-tax .price span {
  font-weight: 700;
  font-size: 22px;
}
.display-contents .article-price-and-viewbtn .view-rooms {
  background-color: #FDB18B;
  border-radius: 30px;
  border: 3px solid #1B605F;
  box-shadow: 3px 4px 0px #1B605F;
  color: #1B605F;
  font-size: 14px;
  font-weight: 700;
  padding: 3px 8px;
  cursor: pointer;
  transition: ease 0.5s all;
}
.display-contents .article-price-and-viewbtn .view-rooms:hover {
  box-shadow: none;
}

#newsletter-box {
  background-color: rgba(34, 111, 109, 0.78);
  text-align: center;
  padding: 40px;
  position: relative;
}
#newsletter-box h2 {
  color: white;
  font-size: 22px;
  text-align: left;
}
#newsletter-box h2 span {
  color: #EECD56;
}
#newsletter-box #email-validation {
  font-size: 18px;
  color: #ff7848;
  position: absolute;
  left: 40px;
}
#newsletter-box #email-and-button {
  margin-top: 25px;
  display: flex;
}
#newsletter-box #email-and-button #email-input {
  border: none;
  border-bottom: 1px solid white;
  background: none;
  color: rgba(210, 231, 230, 0.49);
  margin-right: 10px;
  width: 100%;
  padding: 6px 0px;
  font-size: 16px;
}
#newsletter-box #email-and-button #email-input.active {
  color: white;
}
#newsletter-box #email-and-button #subscribe-btn {
  border: none;
  padding: 6px 15px;
  background-color: #EECD56;
  font-size: 16px;
  font-weight: 700;
  color: #1B605F;
  border-radius: 15px;
}

.footer {
  background: #1B605F;
  color: white;
  text-align: center;
  padding: 25px 15px;
}
.footer h1 {
  font-weight: lighter;
  font-size: 20px;
}
.footer ul {
  display: flex;
  justify-content: center;
  padding: 10px 0px 20px;
}
.footer ul li {
  list-style: none;
  padding: 0px 10px;
  font-weight: 300;
  font-size: 14px;
}
.footer .social-media-box {
  font-size: 24px;
}
.footer .social-media-box i {
  padding: 0px 9px;
}
.footer .logo-box {
  padding: 40px 0px 10px;
  width: 100px;
  text-align: left;
  margin: auto;
  font-size: 12px;
}
.footer .logo-box img {
  width: 100px;
}
.footer .copy-right {
  font-size: 12px;
}

#chosen-value {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgba(27, 96, 95, 0.17);
  text-align: center;
  width: 100%;
  padding: 0px 30px;
  font-size: 16px;
  margin-top: 30px;
}
#chosen-value .section-and-value-wrapper .section {
  padding: 15px 0px;
  font-weight: 500;
}
#chosen-value .section-and-value-wrapper .value {
  color: rgb(39, 39, 39);
  padding: 0px 0px 15px;
}

#result-status {
  font-size: 16px;
  font-weight: 600;
  margin: 35px 30px;
}

.list-view-wrapper {
  margin: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-view-wrapper .view-btn-and-option #list-view-btn {
  padding: 5px 10px 8px 15px;
  border: none;
  border-radius: 10px;
  background-color: #1B605F;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
.list-view-wrapper .view-btn-and-option #list-view-btn i {
  margin-left: 13px;
}
.list-view-wrapper .view-btn-and-option #sort-by {
  position: absolute;
  visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #1B605F;
  width: 163px;
  padding: 5px 0px;
  font-size: 18px;
  background-color: #E6ECE3;
  z-index: 9999;
}
.list-view-wrapper .view-btn-and-option #sort-by.active {
  visibility: visible;
}
.list-view-wrapper .view-btn-and-option #sort-by .sorting-option {
  padding: 10px 15px;
  background-color: #E6ECE3;
  color: #1B605F;
  cursor: pointer;
}
.list-view-wrapper .view-btn-and-option #sort-by .sorting-option:hover {
  background-color: #EECD56;
  color: #1B605F;
}
.list-view-wrapper .list-view-arrow {
  font-size: 37px;
  cursor: pointer;
}
.list-view-wrapper .list-view-arrow #view-previous {
  margin-right: 10px;
}

#filtered-result-box {
  margin: 30px 0px 50px;
}

#back-to-the-main-btn {
  display: flex;
  font-size: 16px;
  margin: 25px 30px;
  cursor: pointer;
}
#back-to-the-main-btn span {
  margin-left: 5px;
}
#back-to-the-main-btn:hover {
  text-decoration: underline;
}

#map {
  height: 550px;
}

.mapboxgl-popup {
  font: 15px "Assistant", sans-serif;
}

.mapboxgl-popup-content {
  color: #1B605F;
  border-radius: 15px;
  width: 300px;
  padding: 0px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.14);
}
.mapboxgl-popup-content img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 180px;
}
.mapboxgl-popup-content .popup-contents-info-box {
  padding: 7px 15px 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.mapboxgl-popup-content .popup-contents-info-box .price-and-rating {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.mapboxgl-popup-content .popup-contents-info-box .price-and-rating .price-per-night {
  display: flex;
}
.mapboxgl-popup-content .popup-contents-info-box .price-and-rating p {
  font-size: 17px;
  margin-left: 3px;
}
.mapboxgl-popup-content .popup-contents-info-box .price-and-rating span {
  font-size: 17px;
}

.mapboxgl-popup-close-button {
  right: 10px;
  top: 0;
  font-size: 28px;
  color: white;
}

.mapboxgl-canvas {
  width: 100%;
}

#image-container {
  display: grid;
  padding: 0px 30px;
}
#image-container img {
  width: 100%;
  padding: 4px;
  border-radius: 25px;
}
#image-container #grid-main {
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}
#image-container #side1,
#image-container #side2,
#image-container #side3 {
  display: none;
}

#information-wrapper {
  margin: 10px 30px 0px;
}
#information-wrapper .title-location-feature h2 {
  font-size: 23px;
  font-weight: 600;
}
#information-wrapper .title-location-feature p {
  font-size: 20px;
  margin: 15px 0px 25px;
}
#information-wrapper .title-location-feature span {
  border-radius: 30px;
  background: rgba(27, 96, 95, 0.24);
  padding: 6px 22px;
  font-size: 18px;
}
#information-wrapper .price-review-rating {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#information-wrapper .price-review-rating h2 {
  font-weight: 600;
  font-size: 23px;
}
#information-wrapper .price-review-rating h2 span {
  font-size: 20px;
}
#information-wrapper .price-review-rating p {
  margin: 10px 0px;
  font-size: 20px;
  text-decoration: underline;
  text-align: end;
}
#information-wrapper .price-review-rating #rating-star {
  font-size: 20px;
  justify-content: end;
  display: flex;
  justify-content: end;
}

#cost-calculate-box {
  position: relative;
  display: grid;
  margin: 25px 30px;
  padding-top: 30px;
  border-top: 1px solid #1B605F;
}
#cost-calculate-box .category-title {
  font-size: 23px;
  font-weight: 500;
}
#cost-calculate-box #read-btn {
  font-size: 20px;
  text-decoration: underline;
  margin-left: 15px;
  font-weight: 600;
  display: flex;
  align-items: end;
  cursor: context-menu;
}
#cost-calculate-box #description-and-transport-cost #place-description {
  display: flex;
  margin-bottom: 30px;
}
#cost-calculate-box #description-and-transport-cost #place-description #modal-readmore {
  position: absolute;
  z-index: 9999;
  background-color: white;
  border: 3px solid #1B605F;
  border-radius: 10px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 40px 20px;
  visibility: hidden;
}
#cost-calculate-box #description-and-transport-cost #place-description #modal-readmore.active {
  visibility: visible;
}
#cost-calculate-box #description-and-transport-cost #place-description #modal-readmore #close-modal-readmore {
  position: absolute;
  font-size: 33px;
  top: 0;
  left: 6px;
  cursor: pointer;
}
#cost-calculate-box #description-and-transport-cost #place-description #modal-readmore h2 {
  font-size: 23px;
  margin-bottom: 15px;
}
#cost-calculate-box #description-and-transport-cost #place-description #modal-readmore p {
  font-size: 16px;
  line-height: 25px;
}
#cost-calculate-box #description-and-transport-cost #map-distance {
  margin: 28px 0px;
  background-image: url("../img/modal-map-bg.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  border: 1px solid #1B605F;
  border-radius: 10px;
}
#cost-calculate-box #description-and-transport-cost #map-distance #see-on-map {
  padding: 10px 18px;
  background-color: #1B605F;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  cursor: zoom-in;
}
#cost-calculate-box #description-and-transport-cost #map-distance #see-on-map:hover {
  background-color: #EECD56;
  color: #1B605F;
}
#cost-calculate-box #description-and-transport-cost #modal-map-distance {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 68, 68, 0.82);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 9999;
  color: white;
  padding: 50px 30px;
  visibility: hidden;
}
#cost-calculate-box #description-and-transport-cost #modal-map-distance.active {
  visibility: visible;
}
#cost-calculate-box #description-and-transport-cost #modal-map-distance h5 {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 20px;
}
#cost-calculate-box #description-and-transport-cost #modal-map-distance p {
  font-size: 20px;
}
#cost-calculate-box #description-and-transport-cost #modal-map-distance #route-cost {
  display: none;
  margin-top: 5px;
}
#cost-calculate-box #description-and-transport-cost #modal-map-distance #route-cost.active {
  display: block;
}
#cost-calculate-box #description-and-transport-cost #modal-map-distance #route-cost #calculate-budget {
  padding: 5px 15px;
  background-color: #EECD56;
  border: none;
  color: #1B605F;
  border-radius: 10px;
  font-weight: 700;
  font-size: 17px;
  margin: 10px 0px 20px;
}
#cost-calculate-box #description-and-transport-cost #modal-map-distance #mapbox {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}
#cost-calculate-box #description-and-transport-cost #modal-map-distance #modal-map-close-btn {
  position: absolute;
  top: 5px;
  right: 9px;
  font-size: 25px;
}
#cost-calculate-box #description-and-transport-cost .transport,
#cost-calculate-box #description-and-transport-cost .estimate-total-budget {
  font-size: 20px;
  display: flex;
}
#cost-calculate-box #description-and-transport-cost .transport p,
#cost-calculate-box #description-and-transport-cost .estimate-total-budget p {
  margin-right: 10px;
}
#cost-calculate-box #description-and-transport-cost .estimate-total-budget {
  margin-top: 17px;
}
#cost-calculate-box .back-button-container {
  position: absolute;
  bottom: 0;
  left: 0;
}
#cost-calculate-box #back-to-the-previous-btn {
  display: flex;
  font-size: 18px;
  margin-top: 70px;
  width: 100px;
  cursor: pointer;
}
#cost-calculate-box #back-to-the-previous-btn span {
  margin-left: 5px;
}
#cost-calculate-box #back-to-the-previous-btn:hover {
  text-decoration: underline;
}
#cost-calculate-box #home {
  margin-top: 10px;
  text-align: center;
  background-color: #1B605F;
  width: 88px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  padding: 4px;
  cursor: pointer;
}
#cost-calculate-box #home:hover {
  background-color: #EECD56;
}
#cost-calculate-box #meal-option-and-display-cost {
  margin-top: 45px;
}
#cost-calculate-box #meal-option-and-display-cost #meal-option-wrapper {
  position: relative;
}
#cost-calculate-box #meal-option-and-display-cost #meal-option-wrapper #meal-option-lists {
  visibility: hidden;
  cursor: pointer;
}
#cost-calculate-box #meal-option-and-display-cost #meal-option-wrapper #meal-option-lists.active {
  visibility: visible;
}
#cost-calculate-box #meal-option-and-display-cost #meal-option-wrapper #meal-option-lists .breakfast {
  position: absolute;
  background-color: #1B605F;
  color: white;
  top: 56px;
  padding: 13px;
  width: 100%;
  text-align: center;
  font-size: 22px;
  border-radius: 10px;
  border: 2px solid #1B605F;
}
#cost-calculate-box #meal-option-and-display-cost #meal-option-wrapper #meal-option-lists .breakfast:hover {
  background-color: #EECD56;
  color: #1B605F;
  font-weight: 600;
}
#cost-calculate-box #meal-option-and-display-cost #meal-option-wrapper #meal-option-lists .breakfast span {
  margin-left: 10px;
}
#cost-calculate-box #meal-option-and-display-cost #meal-option-wrapper #meal-option-btn {
  display: flex;
  border: 1px solid #1B605F;
  justify-content: center;
  border-radius: 10px;
  margin: 19px 0px;
  padding: 13px 0px;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  cursor: pointer;
}
#cost-calculate-box #meal-option-and-display-cost #cost-display-box {
  padding: 20px;
  border: 1px solid #1B605F;
  border-radius: 10px;
  font-size: 20px;
}
#cost-calculate-box #meal-option-and-display-cost #cost-display-box .night-and-cost {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
  border-bottom: 1px solid #1B605F;
}
#cost-calculate-box #meal-option-and-display-cost #cost-display-box .extra {
  padding: 30px 0px;
  border-bottom: 1px solid #1B605F;
}
#cost-calculate-box #meal-option-and-display-cost #cost-display-box .extra .meal-cost-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
#cost-calculate-box #meal-option-and-display-cost #cost-display-box .total {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
#cost-calculate-box #meal-option-and-display-cost #cost-display-box .total #total-cost {
  font-weight: 600;
  font-size: 23px;
}
#cost-calculate-box #meal-option-and-display-cost #reserve-btn {
  padding: 10px 0px;
  text-align: center;
  color: white;
  background-color: #E1754F;
  box-shadow: 8px 8px 10px rgba(27, 96, 95, 0.58);
  border-radius: 10px;
  font-weight: 600;
  margin: 42px 50px 120px;
  font-size: 20px;
  cursor: pointer;
  transition: ease 235ms all;
  touch-action: manipulation;
  cursor: pointer;
}
#cost-calculate-box #meal-option-and-display-cost #reserve-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}
#cost-calculate-box #meal-option-and-display-cost #reserve-btn:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

#reserve-message-box {
  text-align: center;
  margin: 60px 30px;
}
#reserve-message-box i {
  font-size: 50px;
}
#reserve-message-box h2 {
  font-size: 30px;
  margin: 40px 0px 20px;
}
#reserve-message-box p {
  font-size: 20px;
  line-height: 30px;
}

#result-box {
  border: 1px solid #1B605F;
  border-radius: 10px;
  margin: 0px 30px 60px;
  padding: 20px;
  text-align: center;
}
#result-box h2 {
  font-size: 23px;
}
#result-box #reservation-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px 10px;
}
#result-box #reservation-info-container .reservation-info p {
  font-size: 20px;
  padding-bottom: 5px;
}
#result-box #reservation-info-container .reservation-info h5 {
  font-size: 20px;
}

#go-home-btn {
  display: flex;
  margin: auto;
  padding: 10px 25px;
  border: 2px solid #1B605F;
  background-color: #1B605F;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 80px;
  cursor: pointer;
}
#go-home-btn span {
  margin-left: 10px;
}
#go-home-btn:hover {
  background: #EECD56;
  color: #1B605F;
}

@media screen and (min-width: 992px) {
  .swiper-wrapper {
    background: #E6ECE3;
    transition: ease 1s all;
  }
  .swiper-wrapper.night-mode {
    transition: ease 1s all;
    background: black;
    color: #E6ECE3;
  }
  .swiper-wrapper.night-mode #cost-calculate-box #meal-option-and-display-cost {
    margin-top: 0px;
    margin-left: 18px;
  }
  .nav-container {
    margin: 30px 90px;
  }
  .nav-container h3 {
    font-size: 30px;
  }
  .nav-container i {
    font-size: 35px;
  }
  .nav-container .bi-moon-fill {
    position: static;
  }
  #hero-and-searchbox {
    margin: 30px 90px;
    padding: 70px 30px 90px;
  }
  #hero-and-searchbox #heading {
    font-size: 56px;
  }
  #hero-and-searchbox #heading .yellow {
    display: inline;
  }
  #hero-and-searchbox p {
    display: block;
  }
  #hero-and-searchbox #search-input-list {
    display: flex;
    margin: 80px 0px;
    justify-content: center;
    align-items: center;
  }
  #hero-and-searchbox #search-input-list .search-condition {
    padding: 10px 20px;
    margin: 10px 20px;
    height: 53px;
    font-size: 20px;
  }
  #hero-and-searchbox #search-input-list .search-condition input {
    border: none;
    font-size: 20px;
    width: 100px;
    color: #1B605F;
  }
  #hero-and-searchbox #search-input-list #location-lists {
    left: 21px;
    top: 62px;
  }
  #hero-and-searchbox #search-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 53px;
    font-size: 25px;
  }
  #hero-and-searchbox .guest-wrapper #number-lists {
    left: 21px;
    top: 63px;
  }
  #hero-and-searchbox #custom-datepicker {
    grid-template-columns: repeat(2, 1fr);
  }
  #recommend-section {
    display: flex;
    margin: 70px 90px 0px;
    justify-content: space-between;
  }
  #recommend-section #search-and-flter-btn {
    font-size: 17px;
  }
  #recommend-section h2 {
    font-size: 29px;
  }
  #recommend-section #filter-list {
    right: 0;
  }
  #search-modal #close-search-modal-btn {
    font-size: 30px;
  }
  #search-modal h1 {
    top: 255px;
    left: 180px;
    font-size: 90px;
  }
  #search-modal .modal-contents-wrapper {
    top: 425px;
    left: 175px;
    justify-content: start;
  }
  #search-modal .modal-contents-wrapper #search-input {
    font-size: 25px;
  }
  #search-modal .modal-contents-wrapper #string-search-btn {
    font-size: 40px;
  }
  #status-update {
    font-size: 20px;
    margin: 5px 90px;
  }
  .contents-box-wrapper #left-btn {
    bottom: 760px;
    left: 30px;
  }
  .contents-box-wrapper #right-btn {
    bottom: 760px;
    right: 30px;
  }
  #recommend-contents-box {
    margin-bottom: 80px;
  }
  #newsletter-box {
    display: grid;
    justify-content: center;
    padding: 40px 0px;
  }
  #newsletter-box h2 {
    font-size: 31px;
  }
  #newsletter-box #email-validation {
    font-size: 20px;
    left: 585px;
  }
  #newsletter-box #email-and-button #email-input {
    font-size: 20px;
  }
  #newsletter-box #email-and-button #subscribe-btn {
    padding: 6px 22px;
    font-size: 20px;
  }
  .footer ul li {
    font-size: 19px;
  }
  .footer .social-media-box {
    font-size: 32px;
  }
  .footer .logo-box {
    width: 140px;
  }
  .footer .logo-box img {
    width: 140px;
  }
  .footer .copy-right {
    font-size: 14px;
  }
  #chosen-value {
    padding: 25px 90px 30px;
    font-size: 25px;
    margin-top: 58px;
  }
  #chosen-value .section-and-value-wrapper .value {
    padding: 15px 0px;
  }
  #result-status {
    font-size: 25px;
    margin: 35px 90px;
  }
  .list-view-wrapper {
    margin: 0px 90px 30px;
  }
  .list-view-wrapper .view-btn-and-option #list-view-btn {
    padding: 8px 18px 8px 25px;
    font-size: 20px;
  }
  #filtered-result-box {
    margin: 30px 90px 50px;
  }
  #back-to-the-main-btn {
    font-size: 20px;
    margin: 30px 90px;
  }
  #map {
    height: 600px;
  }
  #image-container {
    width: 100%;
    padding: 0px 90px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "grid-main side1" "grid-main side2" "grid-main side3";
  }
  #image-container #grid-main {
    grid-area: grid-main;
    height: 699px;
  }
  #image-container #side1 {
    display: block;
    grid-area: side1;
    height: 230px;
  }
  #image-container #side2 {
    display: block;
    grid-area: side2;
    height: 230px;
  }
  #image-container #side3 {
    display: block;
    grid-area: side3;
    height: 230px;
  }
  #information-wrapper {
    margin: 20px 90px 0px;
    display: flex;
    justify-content: space-between;
  }
  #information-wrapper .title-location-feature h2 {
    font-size: 30px;
  }
  #information-wrapper .title-location-feature p {
    font-size: 22px;
  }
  #information-wrapper .title-location-feature span {
    font-size: 20px;
  }
  #information-wrapper .price-review-rating h2 {
    font-size: 30px;
  }
  #information-wrapper .price-review-rating h2 span {
    font-size: 22px;
  }
  #information-wrapper .price-review-rating p {
    margin: 35px 0px 10px;
    font-size: 22px;
  }
  #information-wrapper .price-review-rating #rating-star {
    font-size: 22px;
  }
  #cost-calculate-box {
    grid-template-columns: repeat(2, 1fr);
    margin: 30px 90px;
  }
  #cost-calculate-box .category-title {
    font-size: 27px;
  }
  #cost-calculate-box #description-and-transport-cost {
    margin-right: 18px;
  }
  #cost-calculate-box #description-and-transport-cost #place-description #modal-readmore {
    width: 650px;
    padding: 40px 40px 60px;
  }
  #cost-calculate-box #description-and-transport-cost #place-description #modal-readmore h2 {
    font-size: 25px;
    margin-bottom: 25px;
  }
  #cost-calculate-box #description-and-transport-cost #place-description #modal-readmore p {
    font-size: 20px;
    line-height: 30px;
  }
  #cost-calculate-box #description-and-transport-cost #map-distance {
    height: 400px;
  }
  #cost-calculate-box #description-and-transport-cost #map-distance #see-on-map {
    padding: 13px 25px;
    font-size: 20px;
  }
  #cost-calculate-box #description-and-transport-cost #modal-map-distance {
    padding: 50px;
  }
  #cost-calculate-box #description-and-transport-cost #modal-map-distance h5 {
    font-size: 26px;
  }
  #cost-calculate-box #description-and-transport-cost #modal-map-distance #mapbox {
    height: 100vh;
  }
  #cost-calculate-box #description-and-transport-cost .transport,
  #cost-calculate-box #description-and-transport-cost .estimate-total-budget {
    font-size: 22px;
  }
  #cost-calculate-box .back-button-container {
    position: static;
  }
  #cost-calculate-box #back-to-the-previous-btn {
    font-size: 22px;
  }
  #cost-calculate-box #home {
    font-size: 19px;
  }
  #cost-calculate-box #home:hover {
    background-color: #EECD56;
  }
  #cost-calculate-box #meal-option-and-display-cost {
    margin-top: 0px;
    margin-left: 18px;
  }
  #cost-calculate-box #meal-option-and-display-cost #meal-option-wrapper #meal-option-btn {
    font-size: 22px;
  }
  #cost-calculate-box #meal-option-and-display-cost #cost-display-box {
    padding: 37px 45px;
    font-size: 24px;
  }
  #cost-calculate-box #meal-option-and-display-cost #cost-display-box .total #total-cost {
    font-size: 28px;
  }
  #cost-calculate-box #meal-option-and-display-cost #reserve-btn {
    padding: 15px 0px;
    margin: 42px 50px;
    font-size: 22px;
  }
  #reserve-message-box {
    margin: 80px 90px;
  }
  #reserve-message-box i {
    font-size: 75px;
  }
  #reserve-message-box h2 {
    font-size: 39px;
    margin: 50px 0px;
  }
  #reserve-message-box p {
    font-size: 28px;
    line-height: 50px;
  }
  #result-box {
    margin: 0px 245px 110px;
    padding: 35px;
  }
  #result-box h2 {
    font-size: 30px;
    text-align: center;
  }
  #result-box #reservation-info-container .reservation-info p {
    font-size: 25px;
  }
  #result-box #reservation-info-container .reservation-info h5 {
    font-size: 25px;
  }
  #go-home-btn {
    padding: 13px 44px;
    font-size: 22px;
    margin-bottom: 100px;
  }
}/*# sourceMappingURL=main.css.map */