//colors
$background-color: #E6ECE3;
$primary-green: #1B605F;
$primary-blue: #288BAE;
$primary-yellow: #EECD56;
$primary-coral: #FDB18B;
$primary-orange: #E1754F;

//margin
$standard-margin: 30px 90px;