@media screen and (min-width: 992px) {

    .swiper-wrapper {
        background: $background-color;
        @include ease-transition(1s);

        // Dark mode customization
        &.night-mode {
            @include ease-transition(1s);
            background: black;
            color: $background-color;

            #cost-calculate-box {

                #meal-option-and-display-cost {
                    margin-top: 0px;
                    margin-left: 18px;

                }
            }  
        }
    }


    //navigation
    .nav-container {
        margin: $standard-margin;

        h3 {
            font-size: 30px;
        }

        i {
            font-size: 35px;
        }

        .bi-moon-fill {
            position: static;
        }

    }


    // ---------------- Home page ----------------- //
    //hero and search section
    #hero-and-searchbox {
        margin: $standard-margin;
        padding: 70px 30px 90px;

        #heading {  
            font-size: 56px;
           
            .yellow {
                display: inline;
            }

        }

        p {
            display: block;
        }


        #search-input-list {
            display: flex;
            margin: 80px 0px;
            justify-content: center;
            align-items: center;

            .search-condition {
                padding: 10px 20px;
                margin: 10px 20px;
                height: 53px;
                font-size: 20px;
            }

            #location-lists {
                left: 21px;
                top: 62px;
            }
        }

        #search-btn {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 230px;
            height: 53px;
            font-size: 25px;
        }


        .guest-wrapper {

            #number-lists {
                left: 21px;
                top: 63px;
            }
        }

        #custom-datepicker {
            grid-template-columns: repeat(2, 1fr);
        }
    }


    // Recommend accomodation section
    #recommend-section {
        display: flex;
        margin: 70px 90px 0px;
        justify-content: space-between;

        #search-and-flter-btn {
            font-size: 17px;
        }

        h2 {
            font-size: 29px;
        }

        #filter-list {
            right: 0;
        }
    }

    //modal-search
    #search-modal {

        #close-search-modal-btn {
            font-size: 30px;
        }

        h1 {
            top: 255px;
            left: 180px;
            font-size: 90px;
        }

        .modal-contents-wrapper {
            top: 425px;
            left: 175px;
            justify-content: start;

            #search-input {
                font-size: 25px;
            }

            #string-search-btn {
                font-size: 40px;
            }
        }
    }


    //Recommend accommodation contents area
    #status-update {
        font-size: 20px;
        margin: 5px 90px;
    }
    .contents-box-wrapper {

        #left-btn {
            bottom: 760px;
            left: 30px;
        }

        #right-btn {
            bottom: 760px;
            right: 30px;
        }
    }

    #recommend-contents-box {
        margin-bottom: 80px;
    }

    //Newsletter
    #newsletter-box {
        display: grid;
        justify-content: center;
        padding: 40px 0px;

        h2 {
            font-size: 31px;
        }

        #email-validation {
            font-size: 20px;
            left: 585px;
        }

        #email-and-button {

            #email-input {
                font-size: 20px;
            }

            #subscribe-btn {
                padding: 6px 22px;
                font-size: 20px;
            }
        }
    }

    //Footer
    .footer {

        ul {

            li {
                font-size: 19px;
            }
        }

        .social-media-box {
            font-size: 32px;
        }

        .logo-box {
            width: 140px;
    
            img {
                width: 140px;
            }
        }

        .copy-right {
            font-size: 14px;
        }
    }

    // -------------- Filtering Results page ---------------//
    #chosen-value {
        padding: 25px 90px 30px;
        font-size: 25px;
        margin-top: 58px;

        .section-and-value-wrapper {

            .value {
                padding: 15px 0px;
            }
        }
    }

    #result-status {
        font-size: 25px;
        margin: 35px 90px;
    }

    .list-view-wrapper {
        margin: 0px 90px 30px;

        .view-btn-and-option {
            #list-view-btn {
                padding: 8px 18px 8px 25px;
                font-size: 20px;
            }
        }
    }

    #filtered-result-box {
        margin: 30px 90px 50px;
    }

    #back-to-the-main-btn {
        font-size: 20px;
        margin: $standard-margin;
    }

    //mapbox(for display search result places)
    #map {
        height: 600px;
    }


    //--------- detail info page(3rd slide)----------//
    #image-container {
        width: 100%;
        padding: 0px 90px;
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
            "grid-main side1"
            "grid-main side2"
            "grid-main side3";

        #grid-main {
            grid-area: grid-main;
            height: 699px;
        }

        #side1 {
            display: block;
            grid-area: side1;
            height: 230px;
        }

        #side2 {
            display: block;
            grid-area: side2;
            height: 230px;
        }

        #side3 {
            display: block;
            grid-area: side3;
            height: 230px;
        }
    }

    #information-wrapper {
        margin: 20px 90px 0px;
        display: flex;
        justify-content: space-between;

        .title-location-feature {
            h2 {
                font-size: 30px;
            }

            p {
                font-size: 22px;
            }

            span {
                font-size: 20px;
            }

        }

        .price-review-rating {
            
            h2 {
                font-size: 30px;

                span {
                    font-size: 22px;
                }
            }

            p {
                margin: 35px 0px 10px;
                font-size: 22px;
            }

            #rating-star {
                font-size: 22px;
            }
        }
    }


    #cost-calculate-box {
        grid-template-columns: repeat(2, 1fr);
        margin: $standard-margin;

        .category-title {
            font-size: 27px;
        }

        #description-and-transport-cost {
            margin-right: 18px;

            #place-description {

                #modal-readmore {
                    width: 650px;
                    padding: 40px 40px 60px;

                    h2 {
                        font-size: 25px;
                        margin-bottom: 25px;
                    }

                    p {
                        font-size: 20px;
                        line-height: 30px;
                    }
                }
            }

            #map-distance {
                height: 400px;

                #see-on-map {
                    padding: 13px 25px;
                    font-size: 20px;
                }
            }

            #modal-map-distance {
                padding: 50px;

                h5 {
                    font-size: 26px;
                }


                // mapbox (for calculate distance)
                #mapbox {
                    height: 100vh;
                }

            }

            .transport,
            .estimate-total-budget {
                font-size: 22px;
            }

        }

        .back-button-container {
            position: static;
        }

        #back-to-the-previous-btn {
            font-size: 22px;
        }

        #home {
            font-size: 19px;

            &:hover {
                background-color: $primary-yellow;
            }
        }

        #meal-option-and-display-cost {
            margin-top: 0px;
            margin-left: 18px;

            #meal-option-wrapper {

                #meal-option-btn {
                    font-size: 22px;
                }
            }

            #cost-display-box {
                padding: 37px 45px;
                font-size: 24px;

                .total {    
                    #total-cost {
                        font-size: 28px;
                    }
                }
            }

            #reserve-btn {
                padding: 15px 0px;
                margin: 42px 50px;
                font-size: 22px;
            }
        }
    }


    //----- Confirm Reservation(4th slide) -----//
    #reserve-message-box {
        margin: 80px 90px;

        i {
            font-size: 75px;
        }

        h2 {
            font-size: 39px;
            margin: 50px 0px;
        }

        p {
            font-size: 28px;
            line-height: 50px;
        }
    }

    #result-box {
        margin: 0px 245px 110px;
        padding: 35px;
        
        h2 {
            font-size: 30px;
            text-align: center;
        }

        #reservation-info-container {
        
            .reservation-info {

                p {
                    font-size: 25px;
                }

                h5 {
                    font-size: 25px;
                }
            }

        }
    }

    #go-home-btn {
        padding: 13px 44px;
        font-size: 22px;
        margin-bottom: 100px;  
    }

}